html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(83, 83, 180);
}
.translator {
  &__wrapper {
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    align-items: space-between;
    button, select {
      padding: 0 20px;
      border-radius: 30px;
      background-color: #7b64d0;
      height: 40px;
      border: none;
      width: 300px;
      outline: none;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
    }
    select {
      display: block;
      & + select {
        margin-left: 30px;
      }
    }
  }
  &__settings {
    display: flex;
    justify-content: center;
  }
  &__inner {
    margin-top: 30px;
    display: flex;
    width: 100%;
    min-height: 350px;
    justify-content: space-evenly;
    align-items: center;
    textarea {
      width: 100%;
      min-height: 200px;
      border-radius: 50px;
      background-color: rgba(204, 204, 204, 0.74);
      resize: none;
      outline: none;
      padding: 30px;
      font-size: 18px;
    }
  }
  &__input,
  &__output {
    max-width: 400px;
    width: 100%;
  }
}